{% include 'upper_part.html' %}
{% include 'cart.html' %}
{% load static %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mb-4">Обрані рецепти</h2>
            <div class="row">
                {% for recipe in favorite_recipes_list %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            {% if recipe.image %}
                                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                            {% else %}
                                <div class="recipe-image-placeholder">
                                    Немає зображення
                                </div>
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ recipe.title }}</h5>
                                <p class="card-text">{{ recipe.description|truncatechars:150 }}</p>
                                <p class="text-muted"><small>Дата
                                    публикації: {{ recipe.created_date|date:"d M Y" }}</small></p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-dark bg-gradient">Детальніше</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
